* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans";
  font-size: 15px;
  color: #837e9f;
}
div {
  display: flex;
  flex-direction: column;
}
.svg {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 15px;
}
lo {
  display: inline-flex;
  justify-items: baseline;
  margin: 10px;
}
ul {
  display: flex;
  flex-direction: column;
}
.ul {
  padding-left: 15%;
}
h1 {
  font-size: 23px;
  margin-bottom: 10px;
}
h6 {
  margin: 3px;
  font-size: 12px;
}
body {
  display: flex;
  padding: 5%;
  width: 1440px;
  height: 1767px;
  background: #22212c;
}
main {
  width: 348px;
  margin-right: 50px;
}
.img-profile {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #00ff00;
}
.profile,
.links,
.technologies,
.experiences,
.education {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 10px;
}
.profile {
  justify-content: space-around;
  align-items: center;
  width: 348px;
  height: 292px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.links {
  width: 348px;
  height: 308px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.technologies {
  justify-content: space-between;
  width: 348px;
  height: 200px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tags-technologies {
  width: 86px;
  height: 24px;
  margin: 5px;
  padding: 7px;
  background: #cb92b1;
  border-radius: 30px;
}
strong {
  align-content: center;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.experiences {
  width: 348px;
  height: 349px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.education {
  width: 348px;
  height: 352px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 65vw;
  height: 86px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  margin: 18px 0;
}
.container-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65vw;
}
.project {
  justify-content: space-between;
  width: 30vw;
  height: 186px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 2%;
}
.projects-text {
  display: flex;
  flex-direction: row;
}
.h2-text {
  margin-right: 200px;
}
.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: center;
  align-content: center;
  width: 65vw;
  height: 251px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 2%;
}
.foto {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 0 50px 0 10px;
}
.post-data {
  margin-bottom: 50px;
}
p {
  font-size: 20px;
}

footer {
  margin-top: 170vh;
}
